<div>
	<div id="home-html-new">
		<div class="home-box">
			<div class="headerNew flex jc-sb flex-center">
				<div class="navBoxNew flex flex-center f-28 curr-box" data-currbox="aa">
					<!-- <a href="#!home/test-html?ceng2" class="nav mag-lr-40 flex-center" id="aa-5" data-left="aa-4" data-right="aa-0" data-down="bh-0"><img
						 src="images/icon_fit.png"></a> -->
					<a href="#!list/fhome-html?ceng2" class="curr nav mag-l-40 flex-center" id="aa-0" data-left="aa-5" data-right="aa-1" data-down="bh-0"><img
						 src="images/icon_fit.png"></a>
					<a href="#!codoon/codoon-html?ceng2" class="nav mag-l-40 flex-center" id="aa-1" data-right="aa-2" data-left="aa-0"
					 data-down="bh-0"><img src="images/icon_codoon.png"></a>
					<a href="#!ehome/ehome-html?ceng2" class="nav mag-l-40 flex-center" id="aa-2" data-right="aa-3" data-left="aa-1"
					 data-down="bh-0"><img src="images/icon_ehome.png"></a>
					<a href="#!youth/youth-html?ceng2" class="nav mag-l-40 flex-center" id="aa-3" data-right="aa-4" data-left="aa-2"
					 data-down="bh-0"><img src="images/icon_youth.png"></a>
					<a href="#!personal/vip-html?resh" class="nav mag-l-40 flex-center" id="aa-4" data-right="login" data-left="aa-3"
					 data-down="bh-0"><img src="images/icon_myVip.png"></a>
				</div>

				<div class="login mag-r-40 f-34 curr-box">

				</div>
			</div>
			<div class="home-list">
				<div id="R-home-new" class="flex jc-sb curr-box" data-currbox="bh">
					<script type="text/html" id="R-home-t-new">
						{{each data as e i}}
						<div class="w w-new">
							<a href="#!{{e.urlPath}}" onclick="javascript:localStorage.setItem('classify','{{e.id}}');localStorage.setItem('current','全部训练-{{e.name}}')" class="pr ovh" id="bh-{{i}}" data-right="{{if i<3}}bh-{{i+1}}{{else}}bh-0{{/if}}" data-left="{{if i>0}}bh-{{i-1}}{{else}}bh-3{{/if}}" data-up="aa-{{i}}">
									<img src="{{imgpath}}{{e.cover}}" class="ratio-img" onerror="lod(this)">
							</a>
						</div>
						{{/each}}
					</script>
				</div>
			</div>

			<div class="popBox14">
				<div class="maskBg">
					<div class="popCont middle">
						<h2 class="f-32"></h2>
						<div class="btnBox flex-center f-26">
							<div class="btn">好的</div>
						</div>
					</div>
				</div>
			</div>

			<script>
				// 登录检测
				globalAjaxC("user/status", {}, function(data) {

					if (data.result == "false") {
						localStorage.setItem("isLogin", "0");
						$("#home-html-new .login").html(
							'<a href="#!personal/vip-html?resh" id="login" class="flex-center unlogin" data-down="bh-0" data-left="aa-4"><img class="none" src="images/unlogin.png"><img class="block" src="images/icon3.png"><span>未登录</span></a>'
						);
					} else {
						localStorage.setItem("isLogin", "1");
						$("#home-html-new .login").html(
							'<a id="login" class="quit flex-center" data-down="bh-0" data-left="aa-4"><img class="login-avatar" src="' + data.user.avatar + '"><span>退出登录</span></a>'
						);
						$(".quit").click(function() {
							globalAjaxC("user/logout", {}, function(data) {
								localStorage.removeItem("isLogin");
								$(".login").html(
									'<a href="#!personal/vip-html?resh" id="login" class="curr flex-center unlogin" data-down="bh-0" data-left="aa-4"><img class="none" src="images/unlogin.png"><img class="block" src="images/icon3.png"><span>未登录</span></a>'
								);
							});
						})
					}
				})
				// 获取首页数据
				globalAjaxC("home/index", {}, function(data) {
					var dataArr = data.data
					for (let i = 0;i<dataArr.length;i++) {
						if(dataArr[i].id == 'fit') {
							dataArr[i]['urlPath'] = 'list/fhome-html?ceng2'
						}
						if (dataArr[i].id == 'codoon') {
							dataArr[i]['urlPath'] = 'codoon/codoon-html?ceng2'
						}
						if (dataArr[i].id == 'ehome') {
							dataArr[i]['urlPath'] = 'ehome/ehome-html?ceng2'
						}
						if (dataArr[i].id == 'youth') {
							dataArr[i]['urlPath'] = 'youth/youth-html?ceng2'
						}
					}
					var datas = {
						data: data.data,
						imgpath: data.prefix,
					}
					var html = template("R-home-t-new", datas);
					$("#R-home-new").html(html);
				})
				function popBox14(text) {
					$("#home-html-new .curr").addClass("past-cur");
					$("#home-html-new .curr").removeClass("curr")
					$(".popBox14 .popCont .btn").addClass("curr");
					$(".popBox14 .popCont h2").html(text);
					$(".popBox14").show();
				}

				$(".popBox14 .popCont .btn").click(function() {
					$(this).removeClass("curr");
					$(".past-cur").addClass("curr");
					$("#home-html-new .curr").removeClass("past-cur");
					$(".popBox14 .popCont h2").html("")
					$(".popBox14").hide();
				});

				$(document).on("keydown", function(e) {
					if (e.keyCode == 10009) {
						if ($(".popBox14").is(":visible")) {
							$(".popBox14 .popCont .btn").removeClass("curr");
							$(".past-cur").addClass("curr");
							$("#home-html-new .curr").removeClass("past-cur");
							$(".popBox14 .popCont h2").html("")
							$(".popBox14").hide();
						}
					}
				})
			</script>
		</div>
	</div>
</div>
