<div>
	<div id="ehome-history-html">
		<div class="codoon-box">
			<div class="">
				<a href="#!personal/vip-html?resh" id="ehome-history-login"></a>
				<a class="btn-back codoon-back" href="javascript:goBackEH(-1);" style="display:none;"></a>
			</div>
			<div class="codoon-list pad-40 curr-box" data-currbox="b">
				<div id="R-ehome-history" class="">
					<script type="text/html" id="R-ehome-history-t">
						<h2 class="white f-50 mag-b-20">我的训练</h2>
						<div class="w mag-b-40 flex jc-sb flex-wrap">
							{{if data.length > 0}}
							{{each data as m j}}
							<a data-paid="{{m.paid}}" data-played="{{m.played}}" data-id="{{m.contentid}}" class="item pr ovh mag-b-40" id="b-{{j}}" data-right="{{if j < data.length-1}}b-{{j+1}}{{/if}}" data-left="{{if j>0}}b-{{j-1}}{{/if}}" data-up="{{if j>2}}b-{{j-3}}{{/if}}" data-down="{{if j < data.length-3}}b-{{j+3}}{{/if}}">
								<img src="{{imgpath}}{{m.cover}}" class="ratio-img" onerror="lod(this)">
								<!-- <span class="font pa f-50 dpb black">{{m.title}}</span> -->
								<span class="font pa f-24 dpb f-right">已播放至：{{m.time}}</span>
								{{if m.paid=="1"}}
								<img src="images/vip.png" class="pa free auto-img">
								{{else}}
								<img src="images/free.png" class="pa free auto-img">
								{{/if}}
							</a>
							{{/each}}
							{{else}}
							<div class="null-box flex-center flex-grow-1 flex-column">
								<img src="images/nocont.png" alt="">
								<p class="f-36 mag-t-50 c-fff">暂无内容</p>
							</div>
							{{/if}}
							<a href="" style="width: 556px;"></a>
							<a href="" style="width: 556px;"></a>
						</div>
					</script>
				</div>
			</div>
		</div>

		<div class="popBox12">
			<div class="maskBg">
				<div class="popCont middle">
					<h2 class="f-32"></h2>
					<div class="btnBox flex-center f-26">
						<div class="btn">好的</div>
					</div>
				</div>
			</div>
		</div>

		<script>
			var ehomeVip = localStorage.getItem("ehomeVip");
			getEhomeHistory();

			function getEhomeHistory() {
				globalAjaxC("history/list?moduleid=ehome&pagesize=9999", {}, function(data) {
					var datas = {
						data: data.history,
						imgpath: data.prefix
					};
					
					for (var i = datas.data.length; i--;) {
						datas.data[i].time = secondToDate(datas.data[i].played);
					}
					var html = template("R-ehome-history-t", datas);
					$("#R-ehome-history").html(html);
					$("#R-ehome-history .w .item").eq(0).addClass('curr');
					$("#ehome-history-html").scrollTop(0);
					$("#R-ehome-history .w .item").click(function() {
						var paid = $(this).data("paid");
						var contentId = $(this).data("id"); // 记录播放历史时长

						var played = $(this).data("played");
						localStorage.setItem('played', played);

						if (paid == "0") {
							localStorage.setItem('contentId', contentId);
							Q.go("ehome/ehome-video-html?ceng6");
						} else if (ehomeVip == "1") {
							localStorage.setItem('contentId', contentId);
							Q.go("ehome/ehome-video-html?ceng6");
						} else if (ehomeVip == "0") {
							popBox12("请先开通会员", $(this));
						} else {
							popBox12("请先登录", $(this));
						}
					});
				});
			}

			function popBox12(text) {
				$("#ehome-history-html .curr").addClass("past-cur");
				$("#ehome-history-html .curr").removeClass("curr");
				$(".popBox12 .popCont .btn").addClass("curr");
				$(".popBox12 .popCont h2").html(text);
				$(".popBox12").show();
			}

			$(".popBox12 .popCont .btn").click(function() {
				$(this).removeClass("curr");
				$(".past-cur").addClass("curr");
				$("#ehome-history-html .curr").removeClass("past-cur");
				$(".popBox12 .popCont h2").html("");
				$(".popBox12").hide(); // 跳转登录页

				localStorage.setItem('moduleId', 'ehome');
				$("#ehome-history-login")[0].click();
			}); // 如果弹窗打开，返回键关闭弹窗不返回上一页

			function goBackEH() {
				if ($(".popBox12").is(":visible")) {
					$(".popBox12 .popCont .btn").removeClass("curr");
					$(".past-cur").addClass("curr");
					$("#ehome-history-html .curr").removeClass("past-cur");
					$(".popBox12 .popCont h2").html("");
					$(".popBox12").hide();
				} else {
					history.go(-1);
				}
			}

			$(document).on("keydown", function(e) {
				if (e.keyCode == 10009) {
					if ($(".popBox12").is(":visible")) {
						$(".popBox12 .popCont .btn").removeClass("curr");
						$(".past-cur").addClass("curr");
						$("#ehome-history-html .curr").removeClass("past-cur");
						$(".popBox12 .popCont h2").html("");
						$(".popBox12").hide();
					}
				} // 识别方向键, 定位元素


				if (e.keyCode >= 37 && e.keyCode <= 40) {
					if ($(".curr").eq(0).offset().top > 1080 - $(".curr").eq(0).height()) {
						$("#ehome-history-html").scrollTop($("#ehome-history-html").scrollTop() + $(".curr").eq(0).offset().top - 40);
					} else if ($(".curr").eq(0).offset().top < 0) {
						$("#ehome-history-html").scrollTop($("#ehome-history-html").scrollTop() + $(".curr").eq(0).offset().top - 40);
					}
				}
			});
		</script>
	</div>
</div>
