<div>
	<div id="vip-html">
		<div class="vip-box">
			<!-- <a class="btn-back vip-back" href="javascript:history.go(-1);" style="display:none;"></a> -->
			<div class="headerNew flex jc-sb flex-center">
				<div class="navBoxNew flex flex-center f-28 curr-box" data-currbox="aa">
					<a href="#!list/fhome-html?ceng2" class="nav mag-l-40 flex-center" id="aa-0" data-right="aa-1" data-down="b-0"><img src="images/icon_fit.png"></a>
					<a href="#!codoon/codoon-html?ceng2" class="nav mag-l-40 flex-center" id="aa-1" data-right="aa-2" data-left="aa-0"
					 data-down="b-0"><img src="images/icon_codoon.png"></a>
					<a href="#!ehome/ehome-html?ceng2" class="nav mag-l-40 flex-center" id="aa-2" data-right="aa-3" data-left="aa-1"
					 data-down="b-0"><img src="images/icon_ehome.png"></a>
					<a href="#!youth/youth-html?ceng2" class="nav mag-l-40 flex-center" id="aa-3" data-right="aa-4" data-left="aa-2"
					 data-down="b-0"><img src="images/icon_youth.png"></a>
					<a href="javascript:;" class="curr nav mag-l-40 flex-center" id="aa-4" data-right="login" data-left="aa-3"
					 data-down="b-0"><img src="images/icon_myVip.png"></a>
				</div>

				<div class="login mag-r-40 f-34 curr-box">

				</div>
			</div>
			<!-- <div class="main"> -->
			<div class="ind-box">
				<div class="wrap">
					<div class="vip-cont">
						<div class="jc-sb">
							<div class="person pa">
								<div class="img"><img src="images/null.jpg" class="ratio-img" onerror="lod(this);"></div>
								<span class="f-22"></span>

								<div class="menu curr-box flex-8 f-26" data-currbox="b">
									<a href="#" onclick="javascript:localStorage.setItem('moduleId','fit');getVip();" class="f-b f-left" id="b-0"
									 data-right="bb-0" data-down="b-1" data-up="aa-4">Fit</a>
									<a href="#" onclick="javascript:localStorage.setItem('moduleId','codoon');getVip();" class="f-b" id="b-1"
									 data-right="bb-0" data-down="b-2" data-up="b-0">咕咚</a>
									<a href="#" onclick="javascript:localStorage.setItem('moduleId','ehome');getVip();" class="f-b mine" id="b-2"
									 data-right="bb-0" data-down="b-3" data-up="b-1">E家健康</a>
									<a href="#" onclick="javascript:localStorage.setItem('moduleId','youth');getVip();" class="f-b mine" id="b-3"
									 data-right="bb-0" data-up="b-2">芳华大学</a>
								</div>
							</div>

							<div class="vip-list">
								<div id="vip-card">


								</div>
								<div class="privilege mag-t-50">
									<div class="c-yellow f-28 mag-b-20"><img src="images/icon5.png">会员特权</div>
									<div class="item f-26 c-fff">解锁所有视频内容</div>
									<div class="item f-26 c-fff">丰富生活，体验更佳健康的指导</div>
									<div class="c-yellow f-28 mag-b-20">服务说明</div>
									<div class="item f-26 c-fff">如果用户在使用APP时遇到任何问题都可以拨打服务热线，010-64473805或18612096929，进行服务资讯。</div>
								</div>
							</div>
						</div>
					</div>

					<div class="reg-cont">
						<div class="reg c-fff">
							<h2 class="f-36 mag-b-40">微信扫码注册</h2>
							<div class="qrcode">
								<div id="qrcode"></div>
							</div>
							<p class="f-20 mag-t-20">注册账号即表示同意用户协议</p>
						</div>
					</div>

				</div>
			</div>
			<!-- </div> -->
		</div>
		<!-- 未购买 -->
		<script type="text/html" id="vip-card-t">
			<div class="f-26 c-fff mag-b-50">
				您还未购买<span class="c-yellow f-40 pad-10 modname"></span>会员卡
			</div>
			<div class="card flex flex-wrap curr-box" data-currbox="bb">
					{{each data as e i}}
					<a href="#!personal/pay-html?resh" onclick="javascript:localStorage.setItem('cardid','{{e.id}}')" class="item pr dpb g666" id="bb-{{i}}" data-up="aa-4" data-left="{{if i>0}}bb-{{i-1}}{{else}}b-0{{/if}}" data-right="{{if i<2}}bb-{{i+1}}{{/if}}">
						<img src="{{prefix}}{{e.cover}}" class="ratio-img" onerror="lod(this)">
						<span class="font1 pa f-40 dpb black">{{e.title}}</span>
						<span class="font2 pa f-30 dpb">
							￥<em class="f-80 bleck">{{e.price}}</em>
						</span>
					</a>
					{{/each}}
			</div>
		</script>


		<!-- 已购买 -->
		<script type="text/html" id="vip-buy-t">
			<div class="f-26 c-fff mag-b-50">
				已购买<span class="c-yellow f-40 pad-10 modname"></span>会员卡
			</div>
			<div class="card flex flex-wrap">
				<a href="#!personal/pay-html?resh" onclick="javascript:localStorage.setItem('cardid','{{data.id}}')" class="pr dpb black" data-up="aa-4" data-left="b-0">
					<img src="{{prefix + data.cover}}" class="ratio-img ecover" onerror="lod(this)">
					<span class="font3 pa f-40 dpb etitle"></span>
					<span class="font4 pa f-30 dpb eprice g666">{{data.enddate}}<em class="mag-l-10">到期</em></span>
					<!-- <span class="font5 pa f-30 dpb pad-10">续费</span> -->
				</a>
			</div>
		</script>

		<div class="popBox2">
			<div class="maskBg">
				<div class="popCont middle">
					<h2 class="f-32"></h2>
					<div class="btnBox flex-center f-26">
						<div class="btn">好的</div>
					</div>
				</div>
			</div>
		</div>

		<script>
			var qrcode = new QRCode(document.getElementById("qrcode"), {
				width: 500,
				height: 500,
				correctLevel: QRCode.CorrectLevel.M
			});
			var vipMod = {
				'fit': 'Fit',
				'codoon': '咕咚',
				'ehome': 'E家健康',
				'youth': '芳华大学',
			}
			var timer_aa = null
			// 初始化数据
			chackLogin();
			// 检测登录
			function chackLogin() {
				globalAjaxC("user/status", {}, function(data) {
					//alert(JSON.stringify(data))
					if (data.result == "false") {
						if (timer_aa != null) {
							return
						}
						localStorage.setItem("isLogin", "0");
						getLoginQr()
					} else {
						clearInterval(timer_aa)
						loginSuccess(data)
					}
				})
			}
			// 获取登录二维码
			function getLoginQr() {
				$("#vip-html .login").html(
					'<a id="login" class="flex-center unlogin" data-down="b-0" data-left="aa-4"><img class="none" src="images/unlogin.png"><img class="block" src="images/icon3.png"><span>未登录</span></a>'
				);
				$(".vip-cont").hide();
				$(".reg-cont").show();
				globalAjaxD("user/login?ver=" + Math.random(), {},function(data) {
					this.qrcode.makeCode(data);
					loginStatus()
				})
				// 判断光标是否存在,不存在添加到登录按钮
				if ($(".curr").length == 0) {
					$("#login").addClass('curr')
				}
			}
			// 登录成功渲染页面
			function loginSuccess(data) {
				// 检测本地是否有储存模板ID, 没有首次储存fit
				if (!localStorage.getItem('moduleId')) {
					localStorage.setItem('moduleId', 'fit')
				}
				let moduleId = localStorage.getItem('moduleId');
				// 重置光标
				$("#vip-html .curr").removeClass('curr')
				if(moduleId == 'fit'){
					$("#vip-html #b-0").addClass('curr')
				} else if(moduleId == 'codoon'){
					$("#vip-html #b-1").addClass('curr')
				} else if(moduleId == 'ehome'){
					$("#vip-html #b-2").addClass('curr')
				} else if(moduleId == 'youth'){
					$("#vip-html #b-3").addClass('curr')
				}
				localStorage.setItem("isLogin", "1");
				$(".vip-cont").show();
				$(".reg-cont").hide();
				$(".person .img img").attr({
					"src": data.user.avatar
				});
				$(".person span").text(data.user.nickname);
				$("#vip-html .login").html(
					'<a id="login" class="quit flex-center" data-down="b-0" data-left="aa-4"><img class="login-avatar" src="' + data.user.avatar + '"><span>退出登录</span></a>'
				);
				$("#vip-html .quit").click(function() {
					globalAjaxC("user/logout", {}, function(data){
						localStorage.setItem("isLogin", 0);
						getLoginQr()
					});
				})
				// 判断光标是否存在,不存在添加到登录按钮
				if($(".curr").length == 0) {
					$("#login").addClass('curr')
				}
				getVip();
			}
			// 获取VIP
			function getVip() {
				var moduleId = localStorage.getItem('moduleId');
				globalAjaxC(moduleId + "/membership", {}, function(data) {
					if (data.result == 'false') {
						//未购买会员卡
						globalAjaxC("card/index?moduleid=" + moduleId, {}, function(data) {
							var datas = {
								data: data.data,
								prefix: data.prefix
							}
							var html = template("vip-card-t", datas)
							$("#vip-card").html(html);
							$(".modname").text(vipMod[moduleId]);
						})
					} else {
						//已购买会员卡
						localStorage.setItem(moduleId + "Vip", "1")
						var html2 = template("vip-buy-t", data)
						$("#vip-card").html(html2)
						$("#vip-card .etitle").text(vipMod[moduleId] + '会员：' + data.data.title)
						$(".modname").text(vipMod[moduleId]);
					}
				})

			}
			// 轮询检测登录状态
			function loginStatus() {
				var i = 0;
				timer_aa = setInterval(function() {
					if (location.href.split("#!")[1].substr(0, 17) != "personal/vip-html") {
						clearInterval(timer_aa);
						return false;
					}
					i++;
					chackLogin()
					if (i >= 300) {
						popBox2("登录超时，请重试~");
						clearInterval(timer_aa);
					}
				}, 1000);
			}
			// 提示窗
			function popBox2(text) {
				$("#vip-html .curr").addClass("past-cur");
				$(".past-cur").removeClass("curr")
				$(".popBox2 .popCont .btn").addClass("curr");
				$(".popBox2 .popCont h2").html(text);
				$(".popBox2").show();
			}
			// 提示窗点击
			$(".popBox2 .popCont .btn").click(function() {
				$(this).removeClass("curr");
				$(".past-cur").addClass("curr");
				$("#vip-html .curr").removeClass("past-cur");
				$(".popBox2 .popCont h2").html("")
				$(".popBox2").hide();
				// history.go(-1);
				getLoginQr()
			});

			$(document).on("keydown", function(e) {
				if (e.keyCode == 10009) {
					if ($(".popBox2").is(":visible")) {
						$(".popBox2 .popCont .btn").removeClass("curr");
						$(".past-cur").addClass("curr");
						$("#vip-html .curr").removeClass("past-cur");
						$(".popBox2 .popCont h2").html("")
						$(".popBox2").hide();
						history.go(-1);
					}
				}
			})
		</script>
	</div>
</div>
